doctype html
html
    head
        title assets/bar.jade
        link(rel="stylesheet",href="/foo.css")
        link(rel="stylesheet",href="/bar.css")
        link(rel="stylesheet",href="/baz.css")
        style.
            .checker {
                display: none;
            }
    body
        h1 assets/bar.jade

        p now is #{now()}
        p pi is #{PI}

        p#assets1_foo_css.checker assets1/foo.css
        p#assets1_bar_css.checker assets1/bar.css
        p#assets1_baz_css.checker assets1/baz.css
        p#assets1_foo_js.checker assets1/foo.js
        p#assets1_bar_js.checker assets1/bar.js
        p#assets1_baz_js.checker assets1/baz.js
        p#assets2_foo_css.checker assets2/foo.css
        p#assets2_bar_css.checker assets2/bar.css
        p#assets2_baz_css.checker assets2/baz.css
        p#assets2_foo_js.checker assets2/foo.js
        p#assets2_bar_js.checker assets2/bar.js
        p#assets2_baz_js.checker assets2/baz.js

        script(src="/foo.js")
        script(src="/bar.js")
        script(src="/qux.js")
